/* This CSS is for all picture positioning on all pages*/

/* Main Page: */
      .sunnyleft1 {
        border: 2px solid #A52A2A;
        height: 240px;
        width: 200px;
        margin: 20px 30px 0px 0px;
        float: left;
        overflow: auto;
      }
          .sunnyleft1:hover {
            border: 2px solid red;
          }

      .sunnyNAM1 {
        border: 3px solid #A52A2A;
        height: 240px;
        width: 200px;
        margin: 20px 0px 10px 30px;
        float: right;
        overflow: auto;
      }

      .ADlogo1 {
        border: 4px solid black;
        height: 220px;
        width: 260px;
        margin: 10px 20px 10px 0;
        float: left;
        overflow: auto;
      }
          .ADlogo1:hover {
            border: 4px solid white;
          }

      .sunnybottles1 {
        border: 3px solid #0000FF;
        height: 220px;
        width: 260px;
        margin: 10px 0px 5px 0;
        float: right;
        overflow: auto;
      }



/* About Page: */
      .sunnyNAM {
        border: 3px solid #A52A2A;
        height: 260px;
        width: 220px;
        margin: 20px 0px 5px 10px;
        float: right;
        overflow: auto;
      }
      .sunnybottles {
        border: 3px solid #0000FF;
        height: 220px;
        width: 240px;
        margin: 5px 10px 5px 0;
        float: left;
        overflow: auto;
      }
      .ADlogo {
        border: 4px solid black;
        height: 220px;
        width: 260px;
        margin: 5px 10px 5px 0;
        float: left;
        overflow: auto;
      }
      .sunnyleft {
        border: 2px solid black;
        height: 310px;
        width: 280px;
        margin: 0px 0px 0px 10px;
        float: right;
        overflow: auto;
      }



/* Glass Page: */
      .picsrow1 {
        height: 220px;
        width: 265px;
        margin: 10px 0;
        border: 2px solid #CCCCCC;
        background-color: #EFEFEF;
        padding: 0px;
        overflow: auto;
        float: left;
      }

      .picsrow2{
        height: 220px;
        width: 265px;
        margin: 10px 45px;
        border: 2px solid #CCCCCC;
        background-color: #EFEFEF;
        padding: 0px;
        overflow: auto;
        float: left;
      }

      .picsrow3 {
        height: 220px;
        width: 265px;
        margin: 10px 0;
        border: 2px solid #CCCCCC;
        background-color: #EFEFEF;
        padding: 0px;
        overflow: auto;
        float: right;
      }

      .h2 {
      	text-align: center;
      	margin: 20px 100px;
      	background-color: #CCCCCC;
      }